<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Eric Abenojar</title>
  <!-- CSS files for Bootstrap -->

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Crete+Round|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


</head>
<body>

<div class="container-fluid row1">
  <div class="maincenter">
    <div class="container">
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#" id="about">About</a></li>
          <li><a href="#" id="projects">Projects</a></li>
          <li><a href="#" id="contact">Contact</a></li>
        </ul>

        </nav>
    </div>
          <div class="row">
            </div>
          </div>
      <div class="row row2">

      <div class="col-md-offset-3 col-md-6">
        <p class="mainmessage">Hi, I'm Eric. I design and build <br> web and mobile apps.</p>
      </div>
    </div>
    <form>
  </div>
        <div class="container-fluid row3">
          <div class="row">
            <div class="row">
            <div class="col-md-12">
              <div class="row3-block">
              <p class="intro-slate">My Expertise</p>
              <p class="statement">I've got chops in all phases of the design process.</p>
              </div>
            </div>
          </div>
            <div class="col-md-3">
              <div class="row3-block"><i class="fa fa-diamond yellow"></i>
                <span class="glyphicon glyphicon-star"></span>
                <h4 class="title-slate">Ideas</h4>
                <p class="summary">I collaborate with clients and peers to transform ideas into real applications. This is where the user experiences begins.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row3-block"><i class="fa fa-magic yellow"></i>
                <span class="glyphicon glyphicon-pencil"></span>
                <h4 class="title-slate">UX/UI</h4>
                <p class="summary">I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I am simple design that creates clean and elegant interfaces.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row3-block"><i class="fa fa-code yellow"></i>
                <span class="glyphicon glyphicon-phone"></span>
                <h4 class="title-slate">Front-End</h4>
                <p class="summary">I design in the browser with HTML(5), CSS(3) and JavaScript. I love coding from scratch. I can work with front-end frameworks such as Bootstrap and ReactJS</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row3-block"><i class="fa fa-code yellow"></i>
                <span class="glyphicon glyphicon-tasks"></span>
                <h4 class="title-slate">Back-End</h4>
                <p class="summary">I build web and mobile apps using MongoDB, Express, and Node.JS. I use React-Native to build mobile apps on both Android and IOS platforms.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid row4">
          <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row4-block">
              <p class="intro-slate">My Work</p>
              <p class="statement">Past and current projects</p>
              </div>
            </div>
            </div>
            <div class="row projects-row">
              <div class="col-md-6">
                  <a href="https://www.newvuew.com">
                  <img src="../images/macProject1.png" style="height: 300px; width: 500px;">
                  </a>
              </div>
              <div class="col-md-6">
                  <h4 class="title-slate">NewVuew</h4>
                  <p class="summary">Application that allows users to find locals in the area that have the similar passions. The app will a
                    llow people to collaborate and hangout from anything ranging from sports, art, outdoors, and more. Created a landing page using HTML, CSS, and Bootstrap.</p>
                  <ul class=skills>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>jQuery</li>
                    <li>Bootstrap 3</li>
                    <li>Responsive Layout</li>
                  </ul>

              </div>
            </div>
            <div class="row projects-row">
              <div class="col-md-6">
                  <a href="https://www.newvuew.com">
                  <img src="../images/mac1.png" style="height: 300px; width: 500px;">
                  </a>
              </div>
              <div class="col-md-6">
                  <h4 class="title-slate">DocIt</h4>
                  <p class="summary">Application that allows users to track the time and location of all their daily activities. The application optimizies your day by giving
                  you data analytics on all every activity you do during the day. The beta is still being prototyped and will be released in the next month. </p>
                  <ul class=skills>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>ReactJS</li>
                    <li>Bootstrap 3</li>
                    <li>Responsive Layout</li>
                    <li>ExpressJS</li>
                    <li>NodeJS</li>
                    <li>MongoDB</li>
                    <li>FacebookLoginAPI</li>
                  </ul>

              </div>
            </div>


            <div class="row projects-row-last">
              <div class="col-md-6">
                  <img src="../images/mac1.png" style="height: 300px; width: 500px;">
              </div>
              <div class="col-md-6">
                  <h4 class="title-slate">Your Idea</h4>
                  <p class="summary">Need an webapp or mobile app to be built? Contact me down below and we can set something up.</p>
                  <ul class=skills>
                    <li>Design</li>
                    <li>Collaboration</li>
                    <li>Dream</li>
                    <li>MVP</li>
                    <li>Launch</li>
                  </ul>
              </div>

              </div>
              </div>
            </div>

            <div class="container-fluid row5">
              <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="row4-block">
                  <p class="final-slate">My Contact</p>
                  <p class="conclusion-slate">I am freelancing. <br> Want to hire me for a project? <br> Contact me at </p>
                  </div>
                </div>
                </div>

                </div>
              </div>
            </div>


        </div>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">

  </script>
  <!-- Your script file -->
  <script type="text/javascript" src="./js/script.js"></script>
  <!-- UnderscoreJS Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
